$browser: #1A1826;
$feature-box: #EFCCCA;
$box-hover: rgba(252,249,255,0.72);
$font-light: #FFFCF9;
$font-dark: #2E2940;
$line: rgba(249, 247, 252, 0);


body{
    background-color: $browser;
}

.widget-container{
    width: 854px;
    height: 606px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -427px;
    margin-top: -303px;
    border-radius: 33px;
}

.main{
    width: 100%;
    height: 100%;
    background-image: url(background.png);
    background-size: cover;
}

.temp-main{
    position: absolute;
    left: 51.75%;
    top: 25.5%;
    height: 77px;
    width: 132px;
    background: #EFCCCA;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}

#feature-temp{
    font-size: 3.2rem;
    margin: 6%;
    color: $font-light;
    font-family: 'Roboto', sans-serif;
}

.temp-container{
    display: grid;
    grid-template-columns: repeat(7,87px);
    justify-content: space-evenly;
    position: absolute;
    bottom: 5%;
    height: 20.8%;
    width: 100%;

} 

.temp-element{
    background:#2E2940;
    border-radius: 10px;
    width: 85px;
    text-align: center;
    position: relative;
    }


    h2.style{
        color: $font-light;
        font-family: 'Roboto', sans-serif;
        margin:15%;
        font-size: 1.2rem;
    }
   img{
      justify-content: center;
      position: relative;
      top: 7%;
   }

   #sun-img{
       top:5%;
   }

   #cloud-img{
       width: 62px;
       height: 40px;
   }

   #rain-img{
      width: 65px;
   }
    h3{
        margin: auto;
        position: absolute;
        font-family: 'Roboto', sans-serif;
        top: 50%;
        left:20%;
        font-size: 1.5rem;
        z-index: 2;
    }

//  mediaQuery---------------------------------------
@media (max-width: 900px) {
    
    .widget-container{
         width: 640.5px;
        height: 454.5px;
        margin-left: -320.25px;
        margin-top: -227.25px;
    }
    
    .main {
         width: 640.5px;
        height: 454.5px;
    }
  
    .temp-main{
      height: 57.75px;
      width: 99px;
      left: 51.5%;
      top: 27%;
    }
  
    #feature-temp{
      font-size: 2.4rem;
    }
    .temp-container{
        grid-template-columns: repeat(7, 65.25px);
        height: 20%;
        bottom: 6.7%;
        }

    .temp-element{
      height:100%;
      width: 65.25px;
    }
  
  .temp-element h2.style {
      font-size: .9rem;
    }
  h3{
      font-size: 1.2rem;
      
  }
  img{ 
   transform:scale(.8);
    } 
 
  }


//   -------------Mobile------------------------------------

  @media screen and (max-width: 375px){

    body{
        max-width: 100%;
        max-height: 100%;
        background-image: url(bg-iphone11.png);
        background-size: cover;
        background-repeat: no-repeat;
    }
    .main{
        background-image: none;
        background-size: cover;
        
    }
    
    .main {
        width: 100%;
        height: 100%;
    }

    .widget-container{
        width: 300px;
        height: 600px;
        margin-left: -150px;
        margin-top: -300px;
    }

    .temp-main{
        top: 20%;
        left: 32%;
        height: 67px;
        width: 109px;
    }

    .temp-container{
        grid-template-columns: 100%;
        grid-template-rows: repeat(7, 25px);
        row-gap: 5px;
        height: 75.84px;
        bottom: 25%;
        width: 80%;
        margin: 0 10%;
        position: absolute;
        justify-content: center;
    }

    #feature-temp{
        font-size: 2.6rem;
        margin: 6%;
    }

    .temp-element{
        height: 25px;
        width: 90%;
        margin: 0 auto;
        padding: 1px 0 0 5px;
        border-bottom: solid 1px $line;
        text-align: left;

        h2.style{
            margin: auto;
            font-size: .5rem;
            top: 25%;
            display: inline;
            position: relative;
            color: white;
            text-align: left;
        }

        h3{
            font-size: .7rem;
            top: 25%;
            display: block;
        }
    }

 
    img{ 
       position: absolute;
       display: inline;
       margin: auto;
       right: 10px;
       bottom: 2%;
       transform:scale(.4)
        } 

 


  }