body {
  background-color: #1A1826;
}

.widget-container {
  width: 854px;
  height: 606px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -427px;
  margin-top: -303px;
  border-radius: 33px;
}

.main {
  width: 100%;
  height: 100%;
  background-image: url(background.png);
  background-size: cover;
}

.temp-main {
  position: absolute;
  left: 51.75%;
  top: 25.5%;
  height: 77px;
  width: 132px;
  background: #EFCCCA;
  border-radius: 10px;
  justify-content: center;
  text-align: center;
}

#feature-temp {
  font-size: 3.2rem;
  margin: 6%;
  color: #FFFCF9;
  font-family: "Roboto", sans-serif;
}

.temp-container {
  display: grid;
  grid-template-columns: repeat(7, 87px);
  justify-content: space-evenly;
  position: absolute;
  bottom: 5%;
  height: 20.8%;
  width: 100%;
}

.temp-element {
  background: #2E2940;
  border-radius: 8.57px;
  width: 85px;
  text-align: center;
  position: relative;
}

h2.style {
  color: #FFFCF9;
  font-family: "Roboto", sans-serif;
  margin: 15%;
  font-size: 1.2rem;
}

img {
  justify-content: center;
  position: relative;
  top: 7%;
}

h3 {
  margin: auto;
  position: absolute;
  font-family: "Roboto", sans-serif;
  top: 50%;
  left: 20%;
  font-size: 1.5rem;
  z-index: 2;
}

@media (max-width: 900px) {
  .widget-container {
    width: 640.5px;
    height: 454.5px;
    margin-left: -320.25px;
    margin-top: -227.25px;
  }

  .main {
    width: 640.5px;
    height: 454.5px;
  }

  .temp-main {
    height: 57.75px;
    width: 99px;
  }

  #feature-temp {
    font-size: 2.4rem;
  }

  .temp-element {
    height: 63.75px;
    width: 65.25px;
  }

  .temp-element h2.style {
    font-size: 0.9rem;
  }

  .temp-container {
    grid-template-columns: repeat(7, 65.25px);
    height: 15.6%;
    bottom: 10%;
  }

  img {
    max-width: 53px;
    max-height: 37px;
  }
}
@media (max-width: 320px) {
  .main {
    background-image: url(background-sm.png);
    background-size: cover;
  }

  .main {
    width: 320px;
    height: 773px;
  }

  .widget-container {
    width: 320.25px;
    height: 773px;
    margin-left: -160px;
    margin-top: -386px;
  }

  .temp-main {
    top: 23%;
    left: 35%;
    height: 67px;
    width: 109px;
  }

  .temp-container {
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, 25px);
    row-gap: 5px;
    height: 210px;
    bottom: 15%;
    width: 80%;
    margin: 0 10%;
    justify-content: center;
  }

  #feature-temp {
    font-size: 2.6rem;
    margin-top: 8%;
  }

  .temp-element {
    height: 25%;
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 10px;
    border-bottom: solid 1px rgba(249, 247, 252, 0);
    background-image: linear-gradient(to right, rgba(252, 249, 255, 0.72), rgba(249, 247, 252, 0));
  }
  .temp-element h2.style {
    margin: 0;
    font-size: 0.5rem;
    display: inline;
    position: absolute;
    left: 5px;
    color: #2E2940;
    font-weight: 600 !important;
  }

  img {
    height: 20.25px;
    width: 20.25px;
    position: absolute;
    display: inline;
    margin: auto;
    right: 10px;
    bottom: 2%;
  }

  #cloud-img {
    height: 11.7px;
    width: 21.4px;
  }

  #rain-img {
    height: 14.35px;
    width: 19.13px;
  }
}

/*# sourceMappingURL=style.css.map */
