$browser: #1A1826;
$feature-box: #EFCCCA;
$box-hover: rgba(252,249,255,0.72);
$font-light: #FFFCF9;
$font-dark: #2E2940;
$bg-pink: #CF9396;
$moon: #E8B3B7;

$line: rgba(249, 247, 252, 0);



*{
   box-sizing: border-box;
}

body{
   margin: 0;
   font-family: 'Roboto', sans-serif;
   -webkit-font-smoothing: antialiased;
   font-size: 1.3rem;
   background-color: $browser;

}

.row{
   display: flex;
   justify-content: space-between;

}

.container{
   width: 80%;
   max-width: 900px;
   margin: 0 auto;
   position: relative;
   z-index: 0;

}

.main{
   margin-top: 5%;
   // background-color: #CF9396;
   background: rgb(207,147,150);
   background: linear-gradient(0deg, $font-dark 30%, $bg-pink 31%);
   border-radius: 33px;
   padding-top: 1rem;
   position: relative;
   z-index: -3;
   overflow: hidden;
   max-height: 600px;
}

.mountains-img{
   max-height: 100%;
   max-width: 100%;
   position: relative;
   overflow: hidden;
   z-index: -1;
   margin-top: 13%;

   img{
      width: 100%;
      height:100%;
      vertical-align: bottom;
   }
}

.feature-container{
   padding: 0 35% 0% 53%;
   position: absolute;
   z-index: -1;
   top: 16%;
   left: -4%;

   .moon{
      background-color: $moon;
      height: 210px;
      width: 210px;
      border-radius: 100%;
      padding: 1rem 3rem;


   #feature-temp{
      font-size: 3rem;
      font-weight: 500;
      color: $font-light;
      background-color: #EFCCCA;
      border-radius: 15px;
      padding: .5rem 0;
      text-align: center;
      vertical-align: center;
      }

   }

}

.week-temp{
   width: 100%;
   position: absolute;
   margin-top: 48%;
   padding: 0 3rem;

}

.temp-element{
   border-radius: 7px;
   padding: 0.5rem;
   font-size: 0.75rem;
   width: 10%;
   padding: .8rem 0.5rem 0.25rem;
   margin-bottom: 2rem;
   text-align: center;
   position: relative;
   z-index: 1;

}

h2{
   z-index: 1;
   position: relative;
   margin-top: 0;
   letter-spacing: 1px;
   font-weight: 500;
}


.weather-img{
   position: relative;
   z-index: 1;
   transform: scale(1.2)
}

span{
   position: absolute;
   margin-top: 3px;
   font-size: 1.3rem;
   z-index: 3;
   color: $font-dark;
   font-weight: 500;
   
}

.style{
   color: $font-light;
}

// .temp-container{
//     display: grid;
//     grid-template-columns: repeat(7, 1fr);
//     grid-column-gap: 5%;
//     justify-content: space-evenly;
//     margin: auto;
//     top: 70%;
//     height: 20%;
//     width: 95%;
//     position: relative;
// }

// .temp-element{
//     background:#2E2940;
//     border-radius: 10px;
//     text-align: center;
//     position: relative;
//     }


//     h2.style{
//         color: $font-light;
//         font-family: 'Roboto', sans-serif;
//         margin:15%;
//         font-size: 1.2rem;
//     }
//    img{
//       justify-content: center;
//       position: relative;
//    }

    h3{
       color: $font-dark;
       margin: 0;
    }

//  mediaQuery---------------------------------------
// @media (max-width: 900px) {
    
//     .widget-container{
//          width: 640.5px;
//         height: 454.5px;
//         margin-left: -320.25px;
//         margin-top: -227.25px;
//     }
  
//     .temp-main{
//       height: 57.75px;
//       width: 99px;
//       left: 51.5%;
//       top: 27%;
//     }
  
//     #feature-temp{
//       font-size: 2.4rem;
//     }
  
//   .temp-element h2.style {
//       font-size: .9rem;
//     }
//   h3{
//       font-size: 1.2rem;
      
//   }
//   img{ 
//    transform:scale(.8);

//     } 
 
//   }


// //   -------------Mobile------------------------------------

//   @media screen and (max-width: 480px){

//         html { 
//             background: url(bg-480.png) no-repeat center center fixed; 
//             -webkit-background-size: cover;
//             -moz-background-size: cover;
//             -o-background-size: cover;
//             background-size: cover;
//           }
    

//     .widget-container{
//         width: 100%;
//         height: 100%;
//         position: fixed;
//         left: 50%;
//         top: 50%;
//         transform: translate(-50%, -50%);
//         margin: auto;
//     }

//     .main{
//         background-image: none;
//         position: fixed;
//         width: 100%;
//         height: 100%;
//         width: 100%;
//         height: 100%;
//         position: fixed;
//         left: 50%;
//         top: 50%;
//         transform: translate(-50%, -50%);
//     }

//     .temp-main{
//         height: auto;
//         top: 15%;
//         width: 100%;
//         position: fixed;
//         background: transparent;
//         left: auto;
//     }

//     #feature-temp{
//         font-size: 2.5rem;
//         margin: auto;
//         background-color: #EFCCCA;
//         display: inline;
//         padding: 3%;
//         border-radius: 10px;
//     }

//     .temp-container{
//         grid-template-rows: repeat(5, 1fr);
//         grid-template-columns: 80%;
//         grid-row-gap: 3%;
//         color: rgba(252, 249, 255, 0.72);
//         top: 48%;
//         position: fixed;
//     }

//     .temp-element{

//         h2.style{
//         font-size: .7rem;
//         position: absolute;
//         top: 41%;
//         left: 10%;
//         margin: 0;
//         }
//     }

//     #temp-0{
//         background-color: #302B42;
//     }
//     #temp-1{
//         background-color: #322E44;
//     }
//     #temp-2{
//         background-color: #353045;
    
//     }
//     #temp-3{
//         background-color: #373349;
    
//     }
//     #temp-4{
//         background-color:#3A354A;
    
//     }

//     img{
//         transform: scale(0.6);
//         display: inline;
//         float: right;
//         top: 5%;
//         margin: 0 2%;
//         } 

//     h3{
//         font-size: 0.6rem;
//         color: white;
//         transform: none;
//         display: inline-block;
//         position: relative;
//         right: -35%;
//         top: 26%;
//         left: auto;
//         }

//     }
