$browser: #1A1826;
$feature-box: #EFCCCA;
$box-hover: rgba(252,249,255,0.72);
$font-light: #FFFCF9;
$font-dark: #2E2940;


// .browser{
//     max-width: 1366px;
//     background-color: $browser;
//     max-height: 784px;
//     padding-left:10px;
//     padding-right:10px;
// }
body{
    background-color: $browser;
}

.widget-container{
    width: 854px;
    height: 606px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -427px;
    margin-top: -303px;
    border-radius: 33px;
}

.main{
    width: 100%;
    height: 100%;
    background-image: url(background.png);
    background-size: cover;
}

.temp-main{
    position: absolute;
    left: 51.75%;
    top: 26.5%;
    height: 77px;
    width: 132px;
    background: #EFCCCA;
    border-radius: 17.42px;
    justify-content: center;
    text-align: center;
}

#feature-temp{
    font-size: 3.5rem;
    margin: 6%;
    color: $font-light;
    font-family:  SFUIDisplay-Medium, sans-serif;
}

.temp-container{
    display: grid;
    grid-template-columns: repeat(7,87px);
    justify-content: space-evenly;
    position: absolute;
    bottom: 5%;
    height: 20.8%;
    width: 100%;

} 

.temp-element{
    background:#2E2940;
    border-radius: 8.57px;
    width: 85px;
    text-align: center;
    position: relative;

    &:hover{ 
        // background-color:  rgba(252,249,255,0.72);
    
    
    }

    &:hover .h2.style{
        color:$font-dark;
    }
    
    h2.style{
        color: $font-light;
        font-family:  SFUIDisplay-Medium, sans-serif;
        margin:15%;
    }
  img{
      justify-content: center;
      position: relative;
      top: 5%;
  }

  h3{
      margin: auto;
      z-index: 2;
  }
}
